<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57609627309-9gf65veemj15q08fcpjri2cim91rp5tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57609627309-9gf65veemj15q08fcpjri2cim91rp5tb</string>
	<key>API_KEY</key>
	<string>AIzaSyCyMdYSj3fHFUArIpLmb8XXOC9OjJ3Io44</string>
	<key>GCM_SENDER_ID</key>
	<string>57609627309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.kaushal.Flash-Messanger</string>
	<key>PROJECT_ID</key>
	<string>flash-messanger-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-messanger-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57609627309:ios:ec41aeb9b8d374662d4824</string>
	<key>DATABASE_URL</key>
	<string>https://flash-messanger-ios.firebaseio.com</string>
</dict>
</plist>